<%= render partial: 'layouts/group_name' %>
<div class="Main">
  <%= render partial: 'layouts/group_index', locals: {groups: @groups} %>
  <div class="Main__right">
    <div class="Main__right__message">
      <%= render partial: 'message', collection: @messages, as: 'message' %>
    </div>
    <%= form_with model: [@group,@message], class: 'Main__right__form', local: true do |f| %>
      <%= f.text_area :text, class: 'Main__right__form-text' %>
      <%= f.submit '送信', class: 'Main__right__form-btn' %>
    <% end %>
  </div>
</div>
<%= render partial: 'groups/modal' %>
