<div class="Signup">
  <div class="Signup__top"></div>
  <div class="Signup__main">
    <div class="Signup__main__left"></div>
    <div class="Signup__main__center">
      <div class="Signup__main__center__login">
        <div class="Signup__main__center__login-text">ゲストとしてログインする</div>
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'Signup__main__center__login-btn' %>
      </div>
      <div class="Signup__main__center__login">
        <div class="Signup__main__center__login-text">アカウントをお持ちの方はこちら</div>
        <%= link_to 'ログインページへ', new_user_session_path, class: 'Signup__main__center__login-btn' %>
      </div>
      <div class= 'Signup__main__center__text'>
        新規ユーザー登録
      </div>

      <%= form_with model: @user,url: user_registration_path, local: true, class: 'Signup__main__center__form' do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.label :ユーザーネーム, class: 'Signup__main__center__form-text' %><br />
        <%= f.text_field :name, autofocus: true, class: 'Signup__main__center__form-name' %><br />

        <%= f.label :email, class: 'Signup__main__center__form-text' %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'Signup__main__center__form-email' %><br />

        <%= f.label :パスワード（6文字以上）, class: 'Signup__main__center__form-text' %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'Signup__main__center__form-pass' %><br />

        <%= f.label :パスワード（確認用）, class: 'Signup__main__center__form-text' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'Signup__main__center__form-pass_conf' %><br />

        <%= f.submit "登録", class: 'Signup__main__center__form-btn' %>
      <% end %>

    </div>
    <div class="Signup__main__right"></div>
  </div>
  <div class="Signup__bottom"></div>
</div>
