<div class="Main__left">
  <div class="Main__left__search">
    <%= form_with(url: root_path, method: :get, class: 'Main__left__search-main', local: true) do |f| %>
      <%= f.check_box :filter%>
      <%= label_tag :filter, '参加中のグループに絞る' %>
      <%= f.text_field :keyword, placeholder: 'グループ名を検索', class: 'Main__left__search-main-text' %>
      <%= f.submit '検索', class: 'Main__left__search-main-btn' %>
    <% end %>
  </div>
  <% groups.each do |group| %>  
    <div class="Main__left__group">
     <%= link_to(group_messages_path(group), class: 'Main__left__group-a') do %>
        <div class="Main__left__group-name">
          <%= group.group_name %>
        </div>
        <div class="Main__left__group-text">
          <%= group.last_text%>
        </div>
        <div class="Main__left__group-time">
          <%= group.last_text_time %>
        </div>
     <% end %>
        <% if GroupUser.exists?(group_id: group.id, user_id: current_user.id) %>
          <div class="Main__left__group-btn" style= 'cursor: default;'>参加中</div>
        <% else %>
          <%= link_to "参加する", join_group_path(group), class: 'Main__left__group-btn' %>
        <% end %>
    </div>
  <% end %>
</div>

