<div class="Header">
  <%= link_to "〜店長チャット〜", root_path, class: 'Header__title' %>
  <%= link_to '新規グループ作成', '#', class: "Header__new_group", id: 'group_modal' %>
  <div class="Header__user">
    <div class="Header__user-name">こんにちは: <%= current_user.name %> さん</div>
    <div class="Header__user-info">
      <%= link_to 'ユーザー編集',edit_user_registration_path, class: "Header__user-info-edit" %>
      <%= link_to 'ログアウト',destroy_user_session_path, class: "Header__user-info-log_out", method: :delete %>
    </div>
  </div>
</div>
